<!DOCTYPE html>
<html lang="en, ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Создать пользователя</title>
    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        form {
            max-width: 400px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<!-- Использование классов Bootstrap для стилизации -->
<div class="container mt-5">
    <form th:action="@{/user-create}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="firstName">Имя</label>
            <input type="text" th:field="*{firstName}" id="firstName" class="form-control" placeholder="First Name">
        </div>
        <div class="form-group">
            <label for="lastName">Фамилия</label>
            <input type="text" th:field="*{lastName}" id="lastName" class="form-control" placeholder="Last Name">
        </div>
        <button type="submit" class="btn btn-primary">Создать пользователя</button>
    </form>
</div>
</body>
</html>